@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/AdminTemplate.css">
    <title>Volunteer Management System - Add Volunteer</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <header class="mb-4">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Volunteer Management System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <h1 class="text-center">Add Volunteer</h1>
    </header>
    <div class="container-fluid">
        <main class="row">
            <!-- Sidebar -->
            <div class="col-md-3 bg-light sidebar">
                <div class="sidebar-sticky">
                    <div class="mb-4">
                        <img class="rounded-circle" />
                        <h2>Profile pic and Username go here</h2>
                    </div>

                    <form class="form-inline mt-2 mt-md-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>

                    <ul class="nav flex-column mt-4">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="ManageVolunteers">Manage Volunteers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="ManageOpportunities">Manage Opportunities</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Add Volunteer Form -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div id="errorAlert" class="alert alert-danger" role="alert" style="display: none;">
                    <span id="errorMessage">Error: Invalid input detected!</span>
                </div>
                <form asp-controller="VolunteerController" asp-action="AddVolunteer" method="post">
                    <div class="form-group">
                        <label for="PersonID">ID</label>
                        <input type="text" class="form-control" id="PersonID" name="PersonID" required>
                    </div>
                    <div class="form-group">
                        <label for="FirstName">First Name</label>
                        <input type="text" class="form-control" id="FirstName" name="FirstName" required>
                    </div>
                    <div class="form-group">
                        <label for="LastName">Last Name</label>
                        <input type="text" class="form-control" id="LastName" name="LastName" required>
                    </div>
                    <div class="form-group">
                        <label for="UserName">User Name</label>
                        <input type="text" class="form-control" id="UserName" name="UserName" required>
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input type="text" class="form-control" id="Password" name="Password" required>
                    </div>
                    <div class="form-group">
                        <label for="Centers">Centers</label>
                        <textarea class="form-control" id="Centers" name="Centers" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="SkillsOrInterests">Skills Or Interests</label>
                        <textarea class="form-control" id="SkillsOrInterests" name="SkillsOrInterests" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="AvailabilityTimes">Availability Times</label>
                        <textarea class="form-control" id="AvailabilityTimes" name="AvailabilityTimes" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="Address">Address</label>
                        <textarea class="form-control" id="Address" name="Address" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="PhoneNumbers">Phone Number</label>
                        <textarea class="form-control" id="PhoneNumbers" name="PhoneNumbers" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input type="email" class="form-control" id="Email" name="Email" required>
                    </div>
                        <div class="form-group">
                        <label for="EducationalBackground">Educational Background</label>
                        <textarea class="form-control" id="EducationalBackground" name="EducationalBackground" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="CurrentLicenses">Current Licenses</label>
                        <textarea class="form-control" id="CurrentLicenses" name="CurrentLicenses" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="EmergencyContactName">Emergency Contact Name</label>
                        <input type="text" class="form-control" id="EmergencyContactName" name="EmergencyContactName" required>
                    </div>
                    <div class="form-group">
                        <label for="EmergencyContactPhone">Emergency Contact Phone</label>
                        <input type="text" class="form-control" id="EmergencyContactPhone" name="EmergencyContactPhone" required>
                    </div>
                    <div class="form-group">
                        <label for="EmergencyContactEmail">Emergency Contact Email</label>
                        <input type="text" class="form-control" id="EmergencyContactEmail" name="EmergencyContactEmail" required>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="Drivers License On File" name="DriversLicenseOnFile">
                        <label for="DriversLicenseOnFile">Driver's License on File</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="Social Security On File" name="SocialSecurityOnFile">
                        <label for="SocialSecurityOnFile">Social Security Card on File</label>
                    </div>

                    <div class="form-group">
                        <label for="ApprovalStatus">Approval Status</label>
                        <select class="form-control" id="ApprovalStatus" name="ApprovalStatus">
                            <option value="Rejected">Approved/Pending Approval</option>                       
                            <option value="Approved">Approved</option>
                            <option value="Pending">Pending Approval</option>
                            <option value="Rejected">Disapproved</option>
                            <option value="Rejected">Inactive</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-secondary">Add Volunteer</button>
                    <a asp-controller="Home" asp-action="ManageVolunteers" class="btn btn-secondary" role="button">Cancel</a>
                </form>
            </main>
        </div>
    </div>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD5tr5Szkbe5FEnqF1eCZl3I" crossorigin="anonymous"></script>
            <script src="~/js/AdminTemplate.js"></script>
            <script src="~/js/CardWidget.js"></script>
            <script src="~/js/ControlSidebar.js"></script>
            <script src="~/js/SidebarSearch.js"></script>
            <script src="~/js/Dropdown.js"></script>
            <script src="~/js/Layout.js"></script>
            <script src="~/js/PushMenu.js"></script>
</body>
</html>

